@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;

}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
}
.container#blur.active{
    filter: blur(15px);
    pointer-events: none;
    user-select: none;
}
#popupa
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgb(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popupa.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: rgba(255, 255, 255, 0);

}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: rgb(185, 0, 0);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;

}
.navItems{
    display: flex;

}
.navItems li{
    list-style: none;
    margin: 0 15px;

}
.navItems li a{
    font-size: 25px;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;

}
.navItems li:hover a,
.links a{
    color: blueviolet;


}
.links a{
    font-size: 30px;
    color: blueviolet;
    margin: 25px 10px;
}
.weapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;

}
.cols{
    width: 50%;

}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: black;

}
.topline::after{
    position: relative;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: blueviolet;


}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: bisque;
}
.multitext{
    color: black;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: black;

}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;

}
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right: 30px;
        top: -90px;
    }
}
